<mat-toolbar color="primary">

  <!--button mat-button color="white" (click)="navigateToHome()"
  *ngIf="userIsAuthenticated">
    Home
  </button-->

  <button mat-button color="white" (click)="navigateToClasses()"
  *ngIf="userIsAuthenticated">
    Classes
  </button>

  <button mat-button color="white" (click)="navigateToGroups()"
  *ngIf="userIsAuthenticated">
    Groups
  </button>


  <button mat-button color="white" (click)="navigateToMyLibrary()"
  *ngIf="userIsAuthenticated">
    My Library
  </button>

  <span class="example-fill-remaining-space">
  </span>

  <button mat-button color="white" (click)="navigateToSF()"
  *ngIf="userIsAuthenticated">
    Support
  </button>

  <button mat-button [matMenuTriggerFor]="menu"
  *ngIf="userIsAuthenticated">
    Manage
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="navigateToProfile()">My Profile</button>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>


  <button mat-button color="white" (click)="navigateToLogin()"
  *ngIf="!userIsAuthenticated">
    Login
  </button>

  <button mat-button color="white" (click)="navigateToSignUp()"
  *ngIf="!userIsAuthenticated">
    Sign-Up
  </button>

  <!--button mat-button color="white" (click)="toTutorial()">
    Tutorials
  </button-->



</mat-toolbar>
