ul.nav li a, ul.nav li a:visited {
    color: white;
}

ul.nav li a:hover, ul.nav li a:active {
  color:white;
  background:#3D5CB0;
}

ul.nav li.active a {
  background:#3D5CB0;
}

ul.navbar-right li.active a {
  background:#3D5CB0;
}


.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

mat-toolbar{
}

.box
{
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
}
.notification
{
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 30px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
.notification:hover
{
  width: 150px;
  height: 30px;
  text-align: left;
  padding: 0 15px;
  background: #58fdff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.notification .fas
{
  color: #cecece;
  line-height: 30px;
  font-size: 15px;
}
.notification:hover .fas
{
  color: #fff;
}
.notification .num
{
  position: absolute;
  top: 0;
  right: -5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #58fdff;
  font-size: 8px;
  color: #fff;
  line-height: 12px;
  font-family: sans-serif;
  text-align: center;
}
.notification:hover .num
{
  position: relative;
  background: transparent;
  color: #fff;
  font-size: 12px;
  top: -4%;
}
.notification:hover .num:after
{
  content: " Notification";
  font-size: 10px;
}
ul
{
  position: absolute;
  left: 0;
  top: 30px;
  margin: 0;
  width: 100%;
  height: 400%;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  padding: 10px;
  box-sizing: border-box;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
  display: none;
}
.notification:hover ul
{
  display: block;
}
ul li
{
  list-style: none;
  border-bottom: 1px solid rgba(0,0,0,.1);
  padding: 2px 0;
  display: flex;
  background: transparent;
}
ul li:last-child
{
  border-bottom: none;
}
ul li .icon
{
  width: 12px;
  height: 12px;
  background: #ccc;
  border-radius: 50%;
  text-align: center;
  line-height: 7px;

}
ul li .icon .fas
{
  color: #fff;
  font-size: 8px;
  line-height: 5px;

}
ul li .text
{
  font-family: sans-serif;
  margin-top: -12px;
  left: 2px;
  font-size: 8px;
  cursor: pointer;
  color: #000000;

}
ul li:hover .text
{
  font-weight: bold;
  color: #58fdff;
}

