mat-expansion-panel {
  margin: 15px
}

mat-form-field,
textarea{
  width: 100%;
  rows: 100;
}

#create{
  margin:2%;
}

#threadCreateForm{
  border: 1px solid black;
}

#responseEditBtn {
  margin-left:30%;
}

#responseDeleteBtn {
  margin-left:80%;
}

#threadAction {
  background-color: #EAEAEA;
}

#threadUpdateForm {
  margin:2%;
}

#responseAction {
  background-color: #EAEAEA;
}

#responses {

}



ul.nav li a:hover, ul.nav li a:active {
  color:white;
  background:#3D5CB0;
}

ul.nav li.active, ul.nav a:active {
  background:#3D5CB0;
}
