<mat-tab-group [(selectedIndex)]="selectedIndex">
  <mat-tab label="What you can do">
  </mat-tab>

  <mat-tab label="Annotations">
    <br>
    <div>
      <button mat-raised-button  color="primary" selected
      *ngIf="documentId"
      matTooltip="Create a new thread" type="button"
      (click)="startNewThread()">
        <mat-icon>add</mat-icon>
        <span>New Thread</span>
      </button>

      <mat-form-field id="filter">
        <input matInput placeholder="search and filters"
        (keydown.enter)="filter($event)">
      </mat-form-field>
    </div>

    <p class="text text-info" *ngIf="message">
      {{message}}
    </p>


    <h3 class="text text-info" *ngIf="annList.length==0">
      No annotations has been created
    </h3>

    <mat-nav-list >
      <div *ngFor="let ann of annList">
        <a  mat-list-item
        (click)="viewChildren(ann)">
          <p mat-line>{{ann.title}}</p>
          <p mat-line>{{ann.content}}</p>
          <p class="text text-info"
          mat-line>Created by {{ann.creatorName}} on
            {{ timestampToDate(ann.createTime)}}
          </p>
        </a>
      </div>
    </mat-nav-list>

    <mat-paginator [length]="totalAnns" [pageSize]="pageSize"
      (page)="onChangePagination($event)">
    </mat-paginator>
  </mat-tab>

  <mat-tab label="Seleted branch">
    <h3 class="text text-info" *ngIf="branch.length==0">
      No branch is selected
    </h3>

    <div *ngFor="let ann of branch">

      <p mathJax="{{ann.title}}">
      </p>
      <p mathJax="{{ann.content}}">
      </p>

      <div>
        <button mat-button color="primary"
        matTooltip="reply this annotation"
        (click)="reply(ann)">
          <mat-icon>reply</mat-icon>
        </button>

        <button mat-button color="primary"
        matTooltip="edit this annotation"
        (click)="edit(ann)">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-button color="primary"
        *ngIf="branch.indexOf(ann)==0 && ann.parent!=='root'"
        matTooltip="view parent annotation"
        (click)="viewParent(ann)">
          <mat-icon>expand_less</mat-icon>
        </button>


        <button mat-button color="primary"
        *ngIf="branch.indexOf(ann)>0"
        matTooltip="view children annotations"
        (click)="viewChildren(ann)">
          <mat-icon>expand_more</mat-icon>
        </button>

        <button mat-button  matTooltip="Show page and highlight"
          color="primary"
          (click)="showHighlight(ann)">
          <mat-icon>highlight</mat-icon>
        </button >





        <button mat-button (click)="clearHighlight()"
          color="primary"
          matTooltip="clear highlight">
          <mat-icon>refresh</mat-icon>
        </button>


        <button mat-button color="primary"
        [matMenuTriggerFor]="annInfo">
          <mat-icon>info_outline</mat-icon>
        </button>

        <mat-menu #annInfo="matMenu">
          <mat-list>
            <mat-list-item>
              id: {{ ann._id }}
            </mat-list-item>

           <mat-list-item>
             document id: {{ ann.documentId }}
           </mat-list-item>
           <mat-list-item>
             page: {{ ann.page }}
           </mat-list-item>
           <mat-list-item>
             created by: {{ ann.creatorName }}
           </mat-list-item>
           <mat-list-item>
             created on: {{ timestampToDate(ann.createTime) }}
           </mat-list-item>
           <mat-list-item *ngIf="ann.editorName">
             edited by: {{ ann.editorName }}
           </mat-list-item>
           <mat-list-item *ngIf="ann.lastEditTime">
             last edited on: {{ timestampToDate(ann.lastEditTime) }}
           </mat-list-item>
           <mat-list-item *ngIf="ann.parent!='root'">
             parent annotation: {{ ann.parent }}
           </mat-list-item>
          </mat-list>
          <mat-list *ngIf="ann.children.length > 0">
            <mat-list-item>
              child annotations:
            </mat-list-item>

            <mat-list-item *ngFor="let child of ann.children">
              {{ child }}
            </mat-list-item>
          </mat-list>


        </mat-menu>

        <button mat-button color="warn"
        *ngIf="ann.creatorName==userName
        && ann.children.length==0"
        (click)="delete(ann)"
        matTooltip="delete">
          <mat-icon>delete</mat-icon>
        </button>


      </div>
      <hr>
    </div>
  </mat-tab>
</mat-tab-group>



  <mat-card id="annCreateAndUpdateForm" *ngIf="showAnnCreateForm">
    <b *ngIf="mode=='create'">
      Creating an annotation on page {{page}}
    </b>

    <b *ngIf="mode=='reply'">
      Replying an annotation on page {{page}}
    </b>

    <form [formGroup]="annCreate">
      <mat-form-field>
        <input matInput rows="2" type="text" formControlName="title"
        placeholder="Title (optional) (supports html and latex syntax)">
          <!--local reference #title to be parsed to the directive *ngIf -->
      </mat-form-field>
      <hr>
      <mat-form-field>
        <textarea matInput rows="20" formControlName="content"
          placeholder="Content (supports html and latex syntax)">
        </textarea>

        <mat-error *ngIf="annCreate.get('content').invalid">
          Please enter some content.
        </mat-error>
      </mat-form-field>
    </form>



      <mat-card-actions>
        <button mat-button color="primary" (click)="createAnn()">
          <mat-icon>save</mat-icon>
        </button>

        <button mat-button id="highlight"
        color="primary"
        (click)="addHighlight($event)"
        matTooltip="add highlgiht">
          <mat-icon>brush</mat-icon>
        </button>

        <button mat-button (click)="clearHighlight()"
          color="primary"
          matTooltip="clear highlight">
          <mat-icon>refresh</mat-icon>
        </button>

        <button mat-button color="primary"
        matTooltip="discard" (click)="discard()">
          <mat-icon>delete</mat-icon>
        </button>

      </mat-card-actions>
  </mat-card>

  <mat-card id="annCreateAndUpdateForm" *ngIf="showAnnUpdateForm">
    <b>
      Editing an annotation on page {{page}}
    </b>

    <form [formGroup]="annUpdate">
      <mat-form-field>
        <input matInput rows="2" type="text" formControlName="title"
        placeholder="Title (optional) (supports html and latex syntax)">
          <!--local reference #title to be parsed to the directive *ngIf -->
      </mat-form-field>
      <hr>
      <mat-form-field>
        <textarea matInput rows="20" formControlName="content"
          placeholder="Content (supports html and latex syntax)">
        </textarea>

        <mat-error *ngIf="annCreate.get('content').invalid">
          Please enter some content.
        </mat-error>
      </mat-form-field>
    </form>

      <mat-card-actions>
        <button mat-button color="primary" (click)="updateAnn()">
          <mat-icon>save</mat-icon>
        </button>

        <button mat-button color="primary"
        matTooltip="discard" (click)="discard()">
          <mat-icon>delete</mat-icon>
        </button>

      </mat-card-actions>
  </mat-card>
