mat-form-field {
  width:100%;
}

mat-nav-list{
  width:100%;
}

mat-chip-list{
  width:50%;
}

mat-paginator{

}

#filter{
  margin-top:5%;
}

#annCreateAndUpdateForm{
  float:right;
  bottom:2%;
  right:2%;
  position:fixed;
  width:600px;
  z-index:10;
}

#create {
}

#edit{
  margin-left: 10%;
}
