<b>
  What is an annotation?
</b>

<p>
  An annotation is a note of explanation, comment or question
  added to a text to help us better understand the text itself.
</p>

<b *ngIf="entityType==='my-library'">
  What can I do?
</b>

<p *ngIf="entityType==='my-library'">
  In <b>My Library</b>, annotations you created are only for yourself.
  You can highlight the important parts of a document and add explanation
  or your own interpretation. Or you can highlight the parts of a document
  that you don't understand very well at the moment and come back to it latter.
</p>

<b *ngIf="entityType!=='my-library'">
  In a group or class, annotations you created are shared with every member.
  You can share your insight to the important part of the text with your peers.
  Or you can post a question to the part of the text you don't understand.
  Your question can well be many other people's question. Of course,
  collective annotating is a community-driven activity,
  you should also respond to questions posted by other memebers of your
  group or class.
</b>

<b>
  What's new on Interpolate?
</b>

<p>
  On Interpolate, not only you can respond to an annotation,
  you can also respond to an existing response, <i>i.e.</i>
  you can have a threaded discussion with other members.
  The very begining of the threaded discussion is called the
  "root annotation".
</p>

<b>
  How to create annotation?
</b>
<p>
  Click on "New Annotation" button in the toolbar.
</p>
