


.pdf-display {
  width: 60%;
  float:left;
  overflow:auto;
} canvas {
  max-width:200%;
}

hr {
  border-color:black;
}

mat-card.ann-create-and-update-form{
  float:right;
  right:0%;
  bottom:0%;
  position:fixed;
  width:40%;
  height:60%;
  z-index:20;
} mat-form-field{
  width: 100%;
}

.search-bar {
  margin-top:5%;
  width:90%;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

mat-form-field.page-navigation {
  width: 100px;
}

mat-tab-group.annotations-display {
  width: 38%;
  float:right;
  margin-right: 2%
}

.content-display-panel {
  margin-left:2%;
}
