
<mat-toolbar>
  {{ documentTitle }}
  <button mat-button color="primary"
  (click)="displayDocument()">
  View Full Document
  </button>

  <button mat-button color="primary"
  (click)="toPreviousPage()">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>

  <mat-form-field class="page-navigation">
    <input matInput (keydown.enter)="navigateTo($event)"
    placeholder="{{page}} of {{ maxPage }}">
  </mat-form-field>

  <button mat-button color="primary"
  (click)="toNextPage()">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>

  <button mat-button  color="primary" selected
  matTooltip="start a new annotation thread" type="button"
  (click)="startNewThread()">
    <mat-icon>add</mat-icon>
    <span>New Annotation</span>
  </button>


  <span class="example-fill-remaining-space">
  </span>

  <mat-form-field class="search-bar">
    <input matInput
    placeholder="search and filters annotations created in this document "
    (keyup.backspace)="search($event)"
    (keydown.enter)="search($event)">
  </mat-form-field>


</mat-toolbar>


<div>
<!--pdf-viewer
  [src]="documentUrl"
  (mousedown)="mousedown($event)"
  (mousemove)="mousemove($event)"
  (mouseup)="mouseup($event)"
  [render-text]="0"
  [show-all]="false"
  [page]="page"
  (after-load-complete)="loadComplete($event)"
  (page-rendered)="onPageRendered($event)">
</pdf-viewer-->

<canvas
  class="pdf-display"
  #pdfDisplay
  (mousedown)="mousedown($event)"
  (mousemove)="mousemove($event)"
  (mouseup)="mouseup($event)"
id="the-canvas">
</canvas>

<mat-tab-group
class="annotations-display"
[(selectedIndex)]="selectedIndex"
(selectedTabChange)="onSelectedTabChange($event)">
  <mat-tab label="Annotations">
    <p class="text text-info" *ngIf="message">
      {{message}}
    </p>

    <h3 class="text text-info"
    *ngIf="documentId && annList.length==0 && getMethod=='regular'">
      No annotations has been created on page {{ page }}
    </h3>

    <h3 class="text text-info"
    *ngIf="annList.length==0 && getMethod=='search'">
      No annotations match your search
    </h3>

    <div>
      <div *ngFor="let ann of annList">
        <a style="cursor: pointer" (click)="viewChildren(ann)">
          <h4>
          Annotation created by {{ann.creatorName}} on
          {{ ann.docTitle }} page {{ ann.page }}
          </h4>
        </a>
        <div>
          <p mathJax="{{ann.title}}"></p>
          <p mathJax="{{ann.content }}"></p>
        </div>
        <hr>
      </div>
    </div>

  </mat-tab>

  <mat-tab label="Seleted branch">
    <h3 class="text text-info" *ngIf="branch.length==0">
      No branch is selected
    </h3>

    <div *ngFor="let ann of branch" [ngStyle]="{
      'margin-left': branch.indexOf(ann)===0? '0': '20px'
    }">

      <div id="branchElementContent">
        <p mathJax="{{ann.title}}">
        </p>
        <p mathJax="{{ann.content}}">
        </p>
      </div>

      <div>
        <button mat-button color="primary"
        matTooltip="reply this annotation"
        (click)="reply(ann)">
          <mat-icon>reply</mat-icon>
        </button>

        <button mat-button color="primary"
        matTooltip="edit this annotation"
        (click)="edit(ann)">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-button color="primary"
        *ngIf="branch.indexOf(ann)==0 && ann.parent!=='root'"
        matTooltip="view parent annotation"
        (click)="viewParent(ann)">
          <mat-icon>expand_less</mat-icon>
        </button>


        <button mat-button color="primary"
        *ngIf="branch.indexOf(ann)>0 && ann.children.length > 0"
        matBadge="{{ ann.children.length }}" color="primary"
        matTooltip="view children annotations"
        (click)="viewChildren(ann)">
          <mat-icon >
            expand_more
          </mat-icon>
        </button>

        <button mat-button  matTooltip="show highlight"
          color="primary"
          *ngIf="ann.highlightsCoord.length > 0 && !highlightDisplayed"
          (click)="showHighlight(ann)">
          <mat-icon>highlight</mat-icon>
        </button >

        <button mat-button  matTooltip="clear highlight"
          color="primary"
          *ngIf="ann.highlightsCoord.length > 0 && highlightDisplayed"
          (click)="clearHighlight()">
          <mat-icon>refresh</mat-icon>
        </button >

        <button mat-button color="primary"
        [matMenuTriggerFor]="annInfo">
          <mat-icon>info_outline</mat-icon>
        </button>

        <mat-menu #annInfo="matMenu">
          <mat-list>

            <mat-list-item>
              id: {{ ann._id }}
            </mat-list-item>
           <mat-list-item>
             document id: {{ ann.documentId }}
           </mat-list-item>
           <mat-list-item>
             page: {{ ann.page }}
           </mat-list-item>
           <mat-list-item>
             created by: {{ ann.creatorName }}
           </mat-list-item>
           <mat-list-item>
             created on: {{ timestampToDate(ann.createTime) }}
           </mat-list-item>
           <mat-list-item *ngIf="ann.editorName">
             edited by: {{ ann.editorName }}
           </mat-list-item>
           <mat-list-item *ngIf="ann.lastEditTime">
             last edited on: {{ timestampToDate(ann.lastEditTime) }}
           </mat-list-item>
           <mat-list-item *ngIf="ann.parent!='root'">
             parent annotation: {{ ann.parent }}
           </mat-list-item>
          </mat-list>



        </mat-menu>

        <button mat-button color="warn"
        *ngIf="ann.creatorName==userName
        && ann.children.length==0"
        (click)="delete(ann)"
        matTooltip="delete">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <hr>
    </div>
  </mat-tab>

  <mat-tab label="What you can do">
  </mat-tab>
</mat-tab-group>
</div>

<mat-card class="ann-create-and-update-form" *ngIf="showAnnCreateForm">
  <b *ngIf="mode=='create'">
    Creating an annotation on page {{page}} of {{ documentId }}
  </b>

  <b *ngIf="mode=='reply'">
    Replying an annotation on page {{page}} of {{ documentId }}
  </b>

  <form [formGroup]="annCreate">
    <mat-form-field>
      <input matInput rows="2" type="text" formControlName="title"
      placeholder="Title (optional) (supports html and latex syntax)">
        <!--local reference #title to be parsed to the directive *ngIf -->
    </mat-form-field>
    <hr>
    <mat-form-field>
      <textarea matInput rows="20" formControlName="content"
        placeholder="Content (supports html and latex syntax)">
      </textarea>

      <mat-error *ngIf="annCreate.get('content').invalid">
        Please enter some content.
      </mat-error>
    </mat-form-field>
  </form>



    <mat-card-actions>
      <button mat-button color="primary" (click)="createAnn()">
        <mat-icon>save</mat-icon>
      </button>

      <button mat-button
      [ngStyle]="{'background': inHighlightMode==true? '#00b8e6': 'white'}"
      color="primary" *ngIf="mode==='create'"
      (click)="addHighlight($event)"
      matTooltip="add highlgiht">
        <mat-icon>brush</mat-icon>
      </button>

      <button mat-button (click)="clearHighlight()"
        color="primary" *ngIf="mode==='create'"
        matTooltip="clear highlight">
        <mat-icon>refresh</mat-icon>
      </button>

      <button mat-button color="primary"
      matTooltip="discard" (click)="discard()">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
</mat-card>

<mat-card class="ann-create-and-update-form" *ngIf="showAnnUpdateForm">
  <b>
    Editing an annotation on page {{page}} of {{ documentId }}
  </b>

  <form [formGroup]="annUpdate">
    <mat-form-field>
      <input matInput rows="2" type="text" formControlName="title"
      placeholder="Title (optional) (supports html and latex syntax)">
        <!--local reference #title to be parsed to the directive *ngIf -->
    </mat-form-field>
    <hr>
    <mat-form-field>
      <textarea matInput rows="20" formControlName="content"
        placeholder="Content (supports html and latex syntax)">
      </textarea>

      <mat-error *ngIf="annCreate.get('content').invalid">
        Please enter some content.
      </mat-error>
    </mat-form-field>
  </form>

    <mat-card-actions>
      <button mat-button color="primary" (click)="updateAnn()">
        <mat-icon>save</mat-icon>
      </button>

      <button mat-button color="primary"
      matTooltip="discard" (click)="discard()">
        <mat-icon>delete</mat-icon>
      </button>

    </mat-card-actions>
</mat-card>
