

<mat-card>
<form [formGroup]="updateForm" >
<mat-form-field id="field">
<input matInput type="text" formControlName="title"
placeholder="Title of the literature">
<mat-error *ngIf="updateForm.get('title').invalid">
Please enter the title of the paper/note you want to upload.
</mat-error>
</mat-form-field>
<mat-form-field id="field">
<input matInput type="text" formControlName="authors"
placeholder="Authors of the literature separated by comma">
<mat-error *ngIf="updateForm.get('authors').invalid">
Please enter the name(s) of the author(s)
</mat-error>
</mat-form-field>
<button mat-button color="primary"
(click)="saveUpdate($event)">
Save Updates
</button>
</form>
</mat-card>
