<div>

<mat-tab-group [(selectedIndex)]="tabIndex">
  <mat-tab label="All files">

  <mat-card id="docDisplay"
  *ngFor="let doc of docsInEntity">

  <h4> {{ doc.title }}</h4>
  <p> {{ doc.authors }}</p>
  <h5 class="text text-info">Uploaded by {{ doc.userName }} at
    {{ timestampToDate(doc.uploadTime) }}
  </h5>
  <hr>
  <mat-card-actions>
    <button mat-button color="primary"
    (click)="openDoc(doc)">
      OPEN
    </button>

    <!--button mat-button color="primary"
    (click)="updateDoc(doc)">
      EDIT
    </button-->

    <button mat-button color="warn"
    *ngIf="doc.threadsCount===0"
    (click)="deleteDoc(doc)">
      DELETE
    </button>
  </mat-card-actions>
  </mat-card>


  </mat-tab>

<mat-tab label="Upload a file">

<mat-vertical-stepper #stepper>
  <mat-step>
    <ng-template matStepLabel>Select a file</ng-template>
    <input type="file"
     #filePicker (change)="onFileSelected($event)">

     <div>
       <button mat-button matStepperNext *ngIf="fileTypeValid">Next</button>
     </div>
     <p *ngIf="!fileTypeValid" class="text text-info">
       We only support PDF format now
     </p>

  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Fill the title</ng-template>
      <form [formGroup]="uploadForm">
        <mat-form-field>
          <input matInput placeholder="title of the file"
          formControlName="title">
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Fill the author(s)</ng-template>
    <form [formGroup]="uploadForm">
      <mat-form-field>
        <input matInput placeholder="author(s) of the file"
        formControlName="authors">
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Ready to upload</ng-template>
    You are ready to upload
    <div>
      <button mat-button (click)="uploadFile()">Upload</button>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
</mat-tab>


</mat-tab-group>

</div>
