<div>
    <h4 *ngIf="matchedThreads.length==0" class="text-info">
      No threads match your search
    </h4>

    <a style="margin:2%" *ngFor="let thread of matchedThreads"
    class="list-group-item clearfix"
    (click)="openThread(thread)">
      <div>
        <p>{{ thread.commentor }} created &nbsp; &nbsp; {{ thread.title | shorten:50 }}</p>
        <p>{{ thread.content | shorten:50 }}</p>
        <p class="text-info">{{ timestampToDate(thread.createTime) }}</p>
      </div>
    </a>
</div>
