<div>
  <h4 *ngIf="matchedThreads.length==0" class="text-info">
    No threads matched your search
  </h4>

  <mat-card
  style="margin-top:2%" *ngFor="let thread of matchedThreads"
  [ngStyle]="{'background-color': thread.viewedBy.indexOf(userId)>-1? 'white':'#C4F5FE'}">
    <mat-card-title>
      <p mathJax="{{thread.title | highlightKeywords:keywordsStr }}"></p>
    </mat-card-title>

    <mat-card-subtitle>
      <p>Created by
        <span [innerHTML]="thread.creatorName | highlightKeywords:keywordsStr">
        </span> on
        <span [innerHTML]="thread.litTitle | highlightKeywords:keywordsStr">
        </span>
      </p>
      <p>{{timestampToDate(thread.createTime)}}</p>

    </mat-card-subtitle>

    <mat-card-content>
      <p mathJax="{{thread.content |  highlightKeywords:keywordsStr}}"></p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-stroked-button color="primary"
      (click)="openThread(thread)">
        View
      </button>

      <button style="margin-left:5%" mat-stroked-button color="primary"
      *ngIf="thread.viewedBy.indexOf(userId)>-1"
      (click)="markAsUnread(thread)">
        Mark as unread
      </button>
    </mat-card-actions>
  </mat-card>
</div>
