<div id="main">
  <h1>{{ group.groupName }}</h1>
  <div class="sidenav" style="float:left">
      <button mat-button
      matTooltip="Click to see all lecture notes"
      color="primary" (click)="_showLits()"
      aria-label="Button that displays a tooltip when focused or hovered over">
        All Files
      </button>


      <br>
      <button mat-button
      matTooltip="Click to see all recent threads" (click)="_showThreads()"
      color="primary">
      Threads
      </button>

      <br>
      <button mat-button
      matTooltip="Click to see the group info" (click)="manageGroup()"
      color="primary">
       Manage Group
     </button>
  </div>

  <div class="content" style="margin-left:150px">

    <app-group-lits id="litsPanel"
    *ngIf="showLits">
    </app-group-lits>

    <app-group-threads-mgt *ngIf="showThreads">
    </app-group-threads-mgt>



    <div id="manageGroup" *ngIf="showManagement">
        <mat-tab-group dynamicHeight>
          <mat-tab label="Members">
            <div>
              <h3 *ngFor="let member of group.membersInfo">
                {{ member._id }}
              </h3>
            </div>
          </mat-tab>

          <mat-tab label="Invite">
            <div>
              <h3 class="text-info">
                To invite people to join your group,
                email them the following hyperlink:
              </h3>
              <p>
                {{ hyperlink }}
              </p>

            </div>
          </mat-tab>

          <mat-tab label="Profile">
            <div>
              <h3 class="text-info">Group Interests:</h3>
                <form [formGroup]="interestsForm" (submit)="updateInterests()">
                  <mat-form-field>
                    <textarea  matInput rows="10" formControlName="interests"></textarea>
                    <mat-error *ngIf="interestsForm.get('interests').invalid">
                      Please describe the interests of your group
                    </mat-error>
                  </mat-form-field>
                  <br>
                  <button class="btn btn-success" type="submit">Update Group Interests</button>
                </form>

                <p class="text-success" *ngIf="updateSuccessMessage">
                  {{ updateSuccessMessage }}
                </p>
            </div>
          </mat-tab>
        </mat-tab-group>
    </div>
  </div>
</div>
