<div id="main">
  <h1>{{ groupName }}</h1>
  <div class="sidenav" style="float:left; background:white">
      <button mat-button
      matTooltip="Click to see all lecture notes"
      color="primary" (click)="_showLits()"
      aria-label="Button that displays a tooltip when focused or hovered over">
        All Files
      </button>


      <br>
      <button mat-button
      matTooltip="Click to see all recent threads" (click)="_showThreads()"
      color="primary">
      Threads
      </button>

      <!--div *ngIf="showThreads" style="margin-left:20px">
        <button mat-button color="primary" (click)="_showAllThreads()">
          All Threads
        </button>
        <br>
        <button mat-button color="primary" (click)="_showMyFollows()">
          My Follows
        </button>
        <br>
        <button mat-button color="primary" (click)="_showThreadSearch()">
          Search
        </button>
      </div-->
      <br>
      <button mat-button
      matTooltip="Click to see the group info" (click)="manageGroup()"
      color="primary">
       Group Info
     </button>
  </div>

  <div class="content" style="margin-left:150px">
    <app-group-lits id="litsPanel"
    *ngIf="showLits">
    </app-group-lits>

    <app-group-threads-mgt *ngIf="showThreads">
    </app-group-threads-mgt>



    <div id="manageGroup" *ngIf="showManagement">
        <div id="memberList">
          <h3 class="text-info">Members:</h3>
          <p *ngFor="let member of group.members">
            {{ member }}
          </p>
          <label>Add an Interpolate user</label><br>
          <mat-form-field>
            <input matInput placeholder="User name"
            (keydown.enter)="addMember($event)" #userNameInput>
          </mat-form-field>
          <br>
          <p>{{ errorMessage }}</p>
          <hr>
          <br>
        </div>


        <div id="pendingMembers" *ngIf="group.pendingMembers.length > 0">
          <h3 class="text-info">Pending Members:</h3>
          <p *ngFor="let pendingMember of group.pendingMembers">
            {{ pendingMember }} <a (click)="addPendingMember(pendingMember)">Add</a>
          </p>
          <hr>
          <br>
        </div>


        <div id="invitation">
          <h3 class="text-info">Invite people</h3>
            <form [formGroup]="invitationForm" (submit)="invitePeople()">
              <mat-form-field>
              <input matInput placeholder="Full Name" formControlName="fullName" #fullName>
            </mat-form-field>
              <br>
              <mat-form-field>
              <input matInput placeholder="Email" formControlName="email">
            </mat-form-field>
              <br>
              <button class="btn btn-success" type="submit">Send Invitation</button>
            </form>
            <p *ngIf="invitationFormInvalid" class="text text-danger">
              A valid name and email are needed
            </p>
            <p *ngIf="invitationStatusMessage" class="text text-success">
              {{ invitationStatusMessage }}
            </p>
            <hr>
            <br>
        </div>

      <div id="groupInterests">
        <h3 class="text-info">Group Interests:</h3>
          <form [formGroup]="interestsForm" (submit)="updateInterests()">
            <mat-form-field>
              <textarea  matInput rows="10" formControlName="interests"></textarea>
              <mat-error *ngIf="interestsForm.get('interests').invalid">
                Please describe the interests of your group
              </mat-error>
            </mat-form-field>
            <br>
            <button class="btn btn-success" type="submit">Update Group Interests</button>
          </form>
          <p class="text-success" *ngIf="updateSuccessMessage">
            {{ updateSuccessMessage }}
          </p>
      </div>
    </div>
  </div>
</div>
