.main {
  width:100%;
}

.intro {
  float: left;
  margin-left: 10%;
}

#signup {
  margin-top: 2%;
  width: 25%;
  float:right;
  margin-right:10%;
}

mat-form-field {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

#duplicated {
  background-color: #FAEA03;
}
