.main {
  width:100%;
}

mat-card {
  width: 30%;
  float:right;
  margin-right:10%;
}

mat-form-field {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

#duplicated {
  background-color: #FAEA03;
}

button {
  width:100%;
}
