.main {
  width:100%;
  height: 50%;
}

.intro {
  width: 60%;
  float: left;
  margin-left: 5%;
} h3 {
  width: 80%;
}

.users-specific-info {
  width: 60%;
}

#signup {
  margin-top: 2%;
  width: 25%;
  float:right;
  margin-right:5%;
}

mat-form-field {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

#duplicated {
  background-color: #FAEA03;
}
