<div class="main">
  <div class="intro">

    <h1 class="text-info">
      Interpolate is a platform for sharing annotations on PDF
      documents
    </h1>

    <h3>
      Interpolate is much more than a platform for
      creating sticky-note-annotations
      and sharing it with other people. We designed Interpolate
      as a Q & A platform, where users can directly post questions inside
      the documents in the form of annotations.
      This means you can:
    </h3>

    <ul>
      <li>
        <h3>
          Reply to annotations that are shared with you;
        </h3>

      </li>
      <li>
        <h3>
          Have a nested-discussion;
        </h3>
      </li>
      <li>
        <h3>
        Easily navigate to an annotation through our search engine.
        </h3>
      </li>
    </ul>

    <h3>
      As we grow our platform, we will add more features based on
      users' feedback.
    </h3>

    <div class="users-specific-info">

    <h2 class="text-info">
      You will find Interpolate helpful, if you are a
    </h2>


    <ul>
      <li>
        <h3>
          Researcher
        </h3>

      </li>
      <li>
        <h3>
          Instructor
        </h3>
      </li>
      <li>
        <h3>
          Student
        </h3>
      </li>
    </ul>

    </div>


  </div>
  <div id="signup">
    <!--mat-spinner *ngIf="isLoading"></mat-spinner-->
    <form  [formGroup]="form" (submit)="onSignup()">
      <mat-form-field>
        <input matInput formControlName="firstName" type="text" placeholder="First Name">
        <mat-error *ngIf="form.get('firstName').invalid">Please enter a valid first name.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="lastName"  type="text" placeholder="Last Name">
        <mat-error *ngIf="form.get('lastName').invalid">Please enter a valid last name.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="userName" type="text" placeholder="User Name">
        <mat-error *ngIf="form.get('userName').invalid">Please enter a valid user name</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="email" type="email" placeholder="E-Mail">
        <mat-error *ngIf="form.get('email').invalid">Please enter a valid email.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" formControlName="password" placeholder="Password">
        <mat-error *ngIf="form.get('password').invalid">
          A valid password must have at least six characters</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" formControlName="affiliation"
        placeholder="Please enter your institute">
        <mat-error *ngIf="form.get('affiliation').invalid">
          Please enter your institute</mat-error>
      </mat-form-field>

      <div class="alert alert-warning" *ngIf="errorMessage" role="alert">
          {{ errorMessage }}
      </div>

      <div class="alert alert-success" *ngIf="successMessage" role="alert">
        {{ successMessage}}
      </div>


      <button mat-flat-button color="primary" type="submit">Signup</button>
    </form>
  </div>
</div>
