<div>
    <h4 *ngIf="threads.length==0" class="text-info">
      No threads have been created on this page
    </h4>

    <a style="margin:2%" *ngFor="let thread of threads"
    class="list-group-item clearfix"
    (click)="openThread(thread)">
      <p mathJax="{{thread.title}}">
      </p>
      <br>
      <p mathJax="{{thread.content}}">
      </p>
      <br>
      <p><b>Created by {{ thread.commentor }}</b></p>
      <br>
      <p class="text-info">{{ thread.createTime }}
      </p>
    </a>
</div>
