#main {
  width:100%;
}


.rightPanel {
  margin-top:10px;
  width:45%;
  float:right;
  margin-right:1%;
}

.sidenav {
  float:left;
  width:50px;
  margin-left:-5%;
}

.content {
  margin-left:100px;
}

app-group-threads-list {
  width:100%;
}

#pageControl{
  float:right;
  width:40%;
}

#navigation{
  margin:auto;
  width:50%;
  border: 2px solid black;
  margin-bottom:2%;

}


#pdfArea {
  float:left;
  margin-left: 1%;
  width:50%;
  border: 2px solid black;
}

#pdfContent{
}
