<div id="main">
  <div id="pdfArea">
    <div class="clearfix bg-light">
      <button style="margin-left:1%" type="button"
      class="btn btn-default btn-sm" (click)="toPreviousPage()">
          <span class="glyphicon glyphicon-backward"></span>
      </button>

        <mat-form-field style="margin-left:1%; width:10%;">
          <input matInput (keydown.enter)="navigateTo($event)"
          placeholder="{{page}} of {{ maxPage }}">
        </mat-form-field>

        <button style="margin-left:1%" type="button"
        class="btn btn-default btn-sm" (click)="toNextPage()">
            <span class="glyphicon glyphicon-forward"></span>
        </button>

        <button style="margin-left:5%" type="button"
        class="btn btn-default btn-sm" (click)="zoomIn()">
          <span class="glyphicon glyphicon-zoom-in"></span>
        </button>
        <mat-form-field style="margin-left:1%; width:10%;">
          <input matInput (keydown.enter)="navigateTo($event)"
          placeholder="{{size*100}}% of 100%">
        </mat-form-field>
        <button style="margin-left:1%" type="button"
        class="btn btn-default btn-sm" (click)="zoomOut()">
          <span class="glyphicon glyphicon-zoom-out"></span>
        </button>

    </div>
    <div>
      <pdf-viewer
        id="pdfContent"
        [src]="pdfSrc"
        [render-text]="false"
        [show-all]="false"
        [original-size]="true"
        [fit-to-page]="false"
        [page]="page"
        [zoom]="size"
        (mousedown)="onMouseDown($event)"
        (mousemove)="onMouseMove($event)"
        (mouseup)="onMouseUp($event)"
        (after-load-complete)="loadComplete($event)"
        (page-rendered)="onPageRendered($event)"
      ></pdf-viewer>
    </div>
  </div>

  <div class="rightPanel">
    <div class="sidenav">
      <button mat-button color="primary" (click)="_showAllThreads()">
        Display Threads
      </button>
      <br>
      <button mat-button color="primary"
        (click)="_showCreateThread()">
        Create Thread
      </button>
    </div>

    <div class="content">
      <mat-form-field style="width:100%;">
        <input style="width:100%" matInput (keydown.enter)="searchThread($event)"
        placeholder="search a thread in this paper" [(ngModel)]="queryStr" #search>
      </mat-form-field>
      <hr>
      <h4 style="margin-left:3%" *ngIf="matchedThreads.length==0" class="text-info">
        No threads matched your search
      </h4>
      <div *ngFor="let thread of matchedThreads">
        <a style="cursor: pointer;" class="list-group-item clearfix bg-info"
          (click)="navigateToThisThread(thread)">
          <h4 class="text-info" mathJax="{{thread.title}}"></h4>
          <p mathJax="{{thread.content}}"></p>
        </a>
        <br>
      </div>

      <app-group-threads-list
        *ngIf="showAllThreads"
        [showCreateForm]="showCreateForm"
        [pageNumber]="page"
        [pdfSize]="size">
      </app-group-threads-list>
    </div>

    </div>
</div>
