<div id="main">
  <div id="pdfArea">
    <div class="clearfix bg-light">
      <button style="margin-left:1%" type="button"
      class="btn btn-default btn-sm" (click)="toPreviousPage()">
          <span class="glyphicon glyphicon-backward"></span>
      </button>

        <mat-form-field style="margin-left:1%; width:10%;">
          <input matInput (keydown.enter)="navigateTo($event)"
          placeholder="{{page}} of {{ maxPage }}">
        </mat-form-field>

        <button style="margin-left:1%" type="button"
        class="btn btn-default btn-sm" (click)="toNextPage()">
            <span class="glyphicon glyphicon-forward"></span>
        </button>


        <!--button style="margin-left:5%" type="button"
        class="btn btn-default btn-sm" (click)="zoomIn()">
          <span class="glyphicon glyphicon-zoom-in"></span>
        </button>
        <mat-form-field style="margin-left:1%; width:10%;">
          <input matInput (keydown.enter)="navigateTo($event)"
          placeholder="{{size*100}}% of 100%">
        </mat-form-field>
        <button style="margin-left:1%" type="button"
        class="btn btn-default btn-sm" (click)="zoomOut()">
          <span class="glyphicon glyphicon-zoom-out"></span>
        </button-->

    </div>
    <div>
      <pdf-viewer
        id="pdfContent"
        [src]="pdfSrc"
        [render-text]="false"
        [show-all]="false"
        [original-size]="true"
        [fit-to-page]="false"
        [page]="page"
        [zoom]="size"
        (mousedown)="onMouseDown($event)"
        (mousemove)="onMouseMove($event)"
        (mouseup)="onMouseUp($event)"
        (after-load-complete)="loadComplete($event)"
        (page-rendered)="onPageRendered($event)"
      ></pdf-viewer>
    </div>
  </div>

  <app-group-lit-threads-mgmt
  ></app-group-lit-threads-mgmt>


</div>
