mat-sidenav-container {
  width:900px;
  margin:auto;
  margin-top:50px;
  height:700px;
}


input[type="file"]{
  visibility: hidden;
}


div.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

mat-form-field,
input{
  width: 100%;
}

a.list-group-item {
  margin:1%;
}

mat-expansion-panel{
  margin:1%;
}
mat-card {
  margin:1%;
}

mat-accordion {
  margin:3%;
}

hr{
  margin:1%;
}

h3.create{
}
#left{
  width:800px;
  margin:auto;
}

#group-list{
  margin:4%;
}

.main {
  width:800px;
  margin:auto;
}

.sidnav {
  margin-top:100px;
  float:left;
}

.content {
  margin-left:150px;
}
