<mat-form-field>
  <input matInput style="width:100%"
  type="text" placeholder="Search a group"
  (keydown.enter)="search($event)">
</mat-form-field>




<mat-card *ngIf="showHelp">
  <button mat-button color="primary"
  (click)="showHelp=false"
  style="float:right">
    Close
  </button>

  <p>
    You can type a key word of the group you are looking for, then press enter key.
    Then all groups on Interpolate platform with that key words will show up.
  </p>

</mat-card>



<h4 *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</h4>


<!--a *ngFor="let user of users"
id="user" style="cursor: pointer;"
class="list-group-item clearfix bg-info">
  <h4 class="text-info">{{ user.userName }}</h4>
  <h4>{{ user.firstName }} {{ user.lastName }}, {{ user.affiliation }}</h4>
</a-->

<a *ngFor="let group of groups"
id="user" style="cursor: pointer;"
class="list-group-item clearfix bg-info">
  <h4 class="text-info">{{ group.groupName }}</h4>
  <h5>Created by {{ group.creator }}; {{ group.members.length }} member(s)</h5>
  <h4>Interests: {{ group.groupInterests }}</h4>
  <a (click)="joinGroup(group)">Join {{ group.groupName }}</a>
  <p class="text-success" *ngIf="requestSentSuccessMessage && groupToJoinName==group.groupName"> {{ requestSentSuccessMessage }} </p>
  <p class="text-info" *ngIf="errorMessage && groupToJoinName==group.groupName"> {{ errorMessage }} </p>
</a>

<hr>
