<div id="main">
  <div id="pdfArea">
    <div>

      <button mat-button color="primary"
      matTooltip="documents control"
      [matMenuTriggerFor]="actions">
        <mat-icon>my_library_books</mat-icon>
      </button>

        <mat-menu #actions="matMenu">
        <button mat-menu-item *ngIf="userCanUpload"
        color="primary"
        (click)="filePicker.click()">
        <mat-icon>cloud_upload</mat-icon>
        <span>Upload a PDF</span>
        </button>

        <button mat-menu-item color="primary"
        (click)="open()">
          <mat-icon>folder_open</mat-icon>
          <span>Open a PDF</span>
        </button>

        <button mat-menu-item
        color="primary" *ngIf="documentId"
        (click)="downloadFile()">
        <mat-icon>cloud_download</mat-icon>
        <span>Download</span>
        </button>
      
        <button mat-menu-item
        color="primary" *ngIf="documentId"
        (click)="update()">
          <mat-icon>edit</mat-icon>
          <span>Update document info</span>
        </button>

        </mat-menu>


        <button mat-button color="primary"
        *ngIf="documentId"
        (click)="toPreviousPage()">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>

        <mat-form-field *ngIf="documentId" style="width:10%">
          <input matInput (keydown.enter)="navigateTo($event)"
          placeholder="{{page}} of {{ maxPage }}">
        </mat-form-field>

        <button mat-button color="primary" *ngIf="documentId"
        (click)="toNextPage()">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>

        <button mat-button color="primary" *ngIf="documentId">
          <mat-icon>bookmark_outline</mat-icon>
        </button>


        <button mat-button color="primary"
        [matMenuTriggerFor]="menu" *ngIf="documentId">
          <mat-icon>info_outline</mat-icon>
        </button>


        <mat-menu #menu="matMenu">
          <mat-list *ngIf="documentId">
           <mat-list-item>
             document id: {{ documentId }}
           </mat-list-item>

           <mat-list-item>
             uploaded by:{{ activeDocInfo.uploaderName }}
           </mat-list-item>

           <mat-list-item>
             title: {{ activeDocInfo.title }}
           </mat-list-item>

           <mat-list-item>
             author(s): {{ activeDocInfo.authors }}
           </mat-list-item>

          </mat-list>


        </mat-menu>

        <!--put an info button here about the document
        include the update form-->

      </div>


        <!--bookmark-->
      <h4 *ngIf="!documentId" class="text text-info">
        No documents have been selected to display
      </h4>

      <pdf-viewer
        (mousedown)="mousedown($event)"
        (mousemove)="mousemove($event)"
        (mouseup)="mouseup($event)"
        [src]="documentSrc"
        [render-text]="0"
        [show-all]="false"
        [original-size]="false"
        [fit-to-page]="true"
        [page]="page"
        [zoom]="size"
        (after-load-complete)="loadComplete($event)"
        (page-rendered)="onPageRendered($event)"
      >
      </pdf-viewer>


    </div>

    <app-annotations></app-annotations>
</div>

      <input type="file"
       #filePicker
       (change)="onFileSelected($event)">
