app-annotations {
  margin-top:2%;
  width:100%;
}


iframe.pdf-display {
  width: 100%;
  height: 2000px;
}
.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
