<div id="main">
  <div id="pdfArea">
    <div>

      <button mat-button color="primary"
      matTooltip="upload a PDF"
      *ngIf="userCanUpload"
      (click)="filePicker.click()">
        <mat-icon>cloud_upload</mat-icon>
      </button>


      <button mat-button color="primary"
      matTooltip="open a PDF"
      (click)="open()">
        <mat-icon>folder_open</mat-icon>
      </button>


        <button mat-button color="primary"
        *ngIf="documentId"
        (click)="toPreviousPage()">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>

        <mat-form-field *ngIf="documentId" style="width:10%">
          <input matInput (keydown.enter)="navigateTo($event)"
          placeholder="{{page}} of {{ maxPage }}">
        </mat-form-field>

        <button mat-button color="primary" *ngIf="documentId"
        (click)="toNextPage()">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>

        <button mat-button color="primary" *ngIf="documentId">
          <mat-icon>bookmark_outline</mat-icon>
        </button>

        <button mat-button color="primary"
        [matMenuTriggerFor]="docInfo" *ngIf="documentId">
          <mat-icon>info_outline</mat-icon>
        </button>

        <mat-menu #docInfo="matMenu">
          <mat-list>
           <mat-list-item>
             document id: {{documentId}}
           </mat-list-item>
          </mat-list>
        </mat-menu>

        <!--put an info button here about the document
        include the update form-->

      </div>


        <!--bookmark-->
      <h4 *ngIf="!documentId" class="text text-info">
        No documents have been selected to display
      </h4>

      <pdf-viewer
        *ngIf="documentId"
        (mousedown)="mousedown($event)"
        (mousemove)="mousemove($event)"
        (mouseup)="mouseup($event)"
        [src]="documentSrc"
        [render-text]="false"
        [show-all]="false"
        [original-size]="false"
        [fit-to-page]="false"
        [page]="page"
        [zoom]="size"
        (after-load-complete)="loadComplete($event)"
        (page-rendered)="onPageRendered($event)"
      ></pdf-viewer>
    </div>

    <app-annotations></app-annotations>
</div>

      <input type="file"
       #filePicker
       (change)="onFileSelected($event)">
