<div>
  <mat-form-field>
    <input matInput placeholder="Search a thread">
  </mat-form-field>
</div>
<hr>

<div>
    <h4 *ngIf="threads.length==0" class="text-info">
      No threads have been created on this group
    </h4>

    <mat-card style="margin-top:2%"*ngFor="let thread of threads"
    [ngStyle]="{'background-color': thread.viewedBy.indexOf(userId)>-1? 'white':'#ffffe6'}">
      <mat-card-title>
        <p mathJax="{{thread.title}}"></p>
      </mat-card-title>

      <mat-card-subtitle>
        <p>Created by {{ thread.commentor }} on {{ thread.litTitle}}</p>
        <p>{{ timestampToDate(thread.createTime)}}</p>

      </mat-card-subtitle>

      <mat-card-content>
        <p mathJax="{{thread.content}}"></p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-stroked-button color="primary"
        (click)="openThread(thread)">
          View
        </button>

        <button style="margin-left:5%" mat-stroked-button color="primary"
        *ngIf="thread.viewedBy.indexOf(userId)>-1"
        (click)="markAsUnread(thread)">
          Mark as unread
        </button>
      </mat-card-actions>
    </mat-card>
</div>


<!--div *ngIf="showThreads">
  <hr>
  <div *ngIf="showMyFollows">
    <div *ngFor="let thread of followingThreads">
      <a class="list-group-item clearfix"
      (click)="navigateToThisThread(thread)">
        <h3> {{ getLitTitleById(thread.litId) }} </h3>
        <h4 mathJax="{{thread.title}}"></h4>
        <p mathJax="{{thread.content}}"></p>
        <p class="text-info">Created by {{ thread.commentor }} on {{ timestampToDate(thread.createTime)}}</p>
      </a>
      <br>
    </div>
  </div>

  <div *ngIf="showThreadSearch">
    <h3 class="text-info"></h3>
    <input class="form-control" type="text" placeholder="Search a thread"
    aria-label="Search" (keydown.enter)="searchThreads($event)">
    <hr>
    <h4 *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</h4>
    <div *ngFor="let thread of matchedThreads">
      <a style="cursor: pointer;" class="list-group-item clearfix bg-info"
        (click)="navigateToThisThread(thread)">
        <h4 class="text-info" mathJax="{{thread.title}}"></h4>
        <p mathJax="{{thread.content}}"></p>
      </a>
      <br>
    </div>
  </div>
</div-->
