
<div class="rightPanel">
  <div class="sidenav">
    <button mat-button color="primary"
    (click)="_showThreadsList()">
      All Threads
    </button>
    <br>
    <button mat-button color="primary"
      (click)="_showThreadCreate()">
      Create Thread
    </button>
  </div>

  <div class="content">
    <mat-form-field style="width:80%;">
      <input style="width:80%" matInput (keydown.enter)="searchThread($event)"
      placeholder="search a thread in this paper" [(ngModel)]="queryStr" #search>
    </mat-form-field>
    <hr>

    <app-group-lit-thread-create *ngIf="showThreadCreate">
    </app-group-lit-thread-create>

    <app-group-lit-threads-list *ngIf="showThreadsList">
    </app-group-lit-threads-list>

    <app-group-lit-single-thread *ngIf="showSingleThread">
    </app-group-lit-single-thread>

    <app-group-lit-thread-update *ngIf="showThreadUpdate">
    </app-group-lit-thread-update>

  </div>
</div>
